*.pyc
*.swp
src/build_osx.log
src/build_osx/
src/build_raspbian.log
src/build_raspbian/
src/debian/.debhelper/
src/debian/debhelper-build-stamp
src/debian/files
src/debian/opencv.debhelper.log
src/debian/opencv.substvars
src/debian/opencv/
