#!/usr/bin/make -f

export DH_VERBOSE=1
export DESTDIR=../debian/opencv
export PREFIX=/usr/local

%:
	dh $@

override_dh_auto_build:
	:

override_dh_auto_install:
	cd build_raspbian && make install DESTDIR=$(DESTDIR) && cd ..

override_dh_usrlocal:
	:
